@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFE6C9;
  --foreground: #171717;
  --white: #fff;
  --text-black: #525252;
  --secondary: #7F265B;
}

html, body, #root {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  @apply text-2xl font-bold text-text-black;
}

button:disabled {
  @apply cursor-not-allowed;
  @apply bg-gray-300 text-gray-500;
}
